<div class="w-screen min-h-screen flex justify-center">
  <div
    id="map"
    class="w-full h-screen z-0 bg-base-200"
    data-controller="map"
    data-map-markers-value="<%= (@markers || []).to_json %>"
    data-map-icon-path-value="<%= asset_path('marker.png') %>"
    data-map-shadow-path-value="<%= asset_path('iconshadow.png') %>"
    data-map-mapbox-token-value="<%= ENV['MAPBOX_TOKEN'] %>">

    <%# Bouton pour recentrer la carte sur la position de l'utilisateur %>
    <button class="absolute bottom-20 right-4 z-[1000] btn btn-square btn-md bg-base-200/90 border-0" data-action="click->map#recenter">
      <i class="fa-solid fa-location-crosshairs text-primary"></i>
    </button>

    <%# Sélecteur de périmètre — positionné en overlay sur la carte %>
    <div class="absolute top-4 right-4 z-[1000]">
      <select class="select select-ghost bg-base-200/90 focus:outline-none" data-action="change->map#setRadius" data-map-target="radiusSelect" autocomplete="off">
        <option value="500">500 m</option>
        <option value="1000" selected>1 km</option>
        <option value="2000">2 km</option>
        <option value="5000">5 km</option>
        <option value="10000">10 km</option>
      </select>
    </div>
  </div>
</div>
