<h1 class="flex items-center justify-center gap-3 font-bold mt-12 mx-6">
  Créer un programme d'entraînement
  <i class="fa-solid fa-basketball text-6xl"></i>
</h1>
<p class="text-center text-gray-500 mb-12 mx-6 mt-6">
  Définissez vos objectifs et votre niveau pour recevoir un programme personnalisé par IA.
</p>
<div class="mx-6">
<%= simple_form_for @program do |f| %>
  <%= f.input :goal, as: :text, required: false, label: "Objectif", placeholder: "Exemple: Améliorer mes sauts et ma vitesse." %>
  <%= f.input :level, collection: Program::LEVELS, selected:"Débutant", label: "Niveau" %>
  <%= f.button :submit, "Créer un programme" %>
<% end %>
</div>
