<h1><%= @program.title %></h1>
<br>
<% content = @program.content %>
<% content = JSON.parse(content.gsub("=>", ":")) %>
<h3><%= content["description"] %></h3>
<br>
<% content["exercises"].each do |exercise| %>
  <li>- <%= exercise %></li>
<% end %>
