<div data-controller="flashes">
  <% if alert %>
    <div role="alert" class="flex alert alert--error-custom fixed z-50">
      <span class="alert__message flex-1 text-center"><%= alert %></span>
      <button class="alert__close btn btn-circle btn-xs btn-ghost shrink-0" data-action="click->flashes#close">
        <i class="alert__icon fa-solid fa-xmark"></i>
      </button>
    </div>
  <% end %>
  <% if notice %>
    <div role="alert" class="flex alert alert--notice-custom fixed z-50">
      <span class="alert__message flex-1 text-center"><%= notice %></span>
      <button class="alert__close btn btn-circle btn-xs btn-ghost shrink-0" data-action="click->flashes#close">
        <i class="alert__icon fa-solid fa-xmark"></i>
      </button>
    </div>
  <% end %>
</div>
