<h1 class="flex items-center justify-center gap-3 text-4xl font-bold mt-12 mx-6">
  Créer une rencontre
  <i class="fa-solid fa-basketball text-6xl"></i>
</h1>
<p class="text-center text-gray-500 mb-12 mx-6 mt-6">
  Rejoignez un terrain pour mettre en pratique votre programme d'entraînement avec d'autres joueurs.
</p>
<%= simple_form_for [@program, @meet] do |f| %>
  <div class="container mt-12">
    <fieldset class="fieldset mx-6">
      <%= f.label :date, "Date", class:"fieldset-legend" %>
      <%= f.input :date,
      as: :string,
      label: false,
      input_html: { type: "datetime-local", class: "input input-bordered w-full [color-scheme:dark]" } %>
    </fieldset>
  </div>
<% end %>
