/* Ajustement du placement des alertes */
.alert {
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  bottom: var(--navbar-h);
  position: fixed;
  margin: 16px 24px;
  left: 0;
  right: 0;
}

.alert--error-custom {
  background-color: var(--color-base-100);
  border: 2px solid var(--color-error);
  color: var(--color-error);
}

.alert--error-custom .alert__message,
.alert--error-custom .alert__close,
.alert--error-custom .alert__icon {
  color: var(--color-error);
}

.alert--notice-custom {
  background-color: var(--color-base-100);
  border: 2px solid var(--color-success);
  color: var(--color-success);
}

.alert--notice-custom .alert__message,
.alert--notice-custom .alert__close,
.alert--notice-custom .alert__icon {
  color: var(--color-success);
}
